@model List<ReviewViewModel>

@{
    ViewData["Title"] = "Мнения";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<hr/>

<div class="text-center row">

    @foreach (var review in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h4 class="card-title mt-1">@review.Services.Name</h4>
                <h5 class="card-title mt-1">@review.Rating</h5>
                <p class="card-title mt-1">@review.Feedback</p>
            </div>
        </div>
    }

</div>
