@{
    ViewData["Title"] = "За нас";
}


<h1 class="text-center">
    MS AutoTuning е вашият надежден партньор 
    за сервиз и чип тунинг на автомобили
</h1>

<br/>

<div class="accordion accordion-flush" id="accordionFlushExample">

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <strong>Чип тунинг</strong>
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <strong>Софтуерният чип тунинг</strong>
                е метод за подобряване на мощността, ефективността и производителността на автомобила чрез промяна на софтуера на електронния блок за управление (ECU).
                Софтуерният чип тунинг е отличен начин за подобряване на вашия автомобил. Той е безопасен, надежден и може да ви помогне да спестите пари и да подобрите експлоатационните характеристики на вашия автомобил.
                Ние предлагаме чип тунинг за всички видове превозни средства, включително:
                <ol>
                    <li>Леки автомобили и джипове</li>
                    <li>Селскостопанска техника</li>
                    <li>Тежкотоварни и строителни машини</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card">
            <img src="~/lib/img/tuning/Tuning1.jpg" class="card-img-top" style="height: 400px;" alt="...">
        </div>
        <div class="card">
            <img src="~/lib/img/tuning/Tuning2.jpg" class="card-img-top" style="height: 400px;" alt="...">
        </div>
        <div class="card">
            <img src="~/lib/img/tuning/Tuning3.jpg" class="card-img-top" style="height: 400px;" alt="...">
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <strong>Сервиз</strong>
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ol>
                    <li>Компютърна диагностика</li>
                    <li>Ремонт на двигатели</li>
                    <li>Смяна на масла, филтри</li>
                    <li>Ремонт ходова част</li>
                    <li>Ремонт на трансмисии</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card">
            <img src="~/lib/img/servis/servisImg1.jpg" class="card-img-top" style="height: 400px; alt="...">

        </div>
        <div class="card">
            <img src="~/lib/img/servis/servisImg2.jpg" class="card-img-top" style="height: 400px; alt="...">

        </div>
        <div class="card">
            <img src="~/lib/img/servis/servisImg3.jpg" class="card-img-top" style="height: 400px; alt="...">

        </div>
    </div>

</div>


